.updatebar{
    background-image: linear-gradient(to right, lightgreen, cyan);
    color: whitesmoke;
    padding: 20px;
    -webkit-box-shadow: 0 14px 6px -6px #222;
    -moz-box-shadow: 0 14px 6px -6px #222;
    box-shadow: 0 14px 50px -6px #222;
    position: relative;
    font-size: large;
}

.updatebar.red {
            background-image: linear-gradient(to right, red, crimson);
        }

.updatebar.yellow {
            background-image: linear-gradient(to right, rgb(218, 165, 20), rgb(220, 60, 20));
        }

.arrow{
    text-align: end;
    color: whitesmoke;
    font-size: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.bmi{
    text-align: center;
    font-size: 150px;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    text-shadow: -1px 5px 15px lightgreen,
                1px 5px 15px lightgreen,
                1px -5px 15px lightgreen,
                -1px -5px 15px lightgreen;
}

.bmi.red{
text-shadow: -1px 5px 15px rgb(235, 87, 87),
                1px 5px 15px rgb(235, 87, 87),
                1px -5px 15px rgb(235, 87, 87),
                -1px -5px 15px rgb(235, 87, 87);

}

.bmi.yellow{
text-shadow: -1px 5px 15px rgb(235, 188, 87),
                1px 5px 15px rgb(235, 188, 87),
                1px -5px 15px rgb(235, 188, 87),
                -1px -5px 15px rgb(235, 188, 87);

}