@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Stoke:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
}

/* Header */

#header{
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e3e3;
    box-shadow: 0 5px 15px rgb(0,0,0,0.6);
    position: sticky;
    top: 0;
    left: 0;
    height: 76px;
    width: auto; 
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;   
    transition:  0.3s ease;
}

#navbar li a:hover{
    color: #056687;
    transition: transform 0.25s ease-out ;
}
#navbar li a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    bottom: -4px;
    position: absolute;
    left: 0px;
    background: #056687;
    animation: underlineit 0.3s ease-in-out ;
}

@keyframes underlineit{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

button {
    padding: 5px 15px;
    border: none;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    background-color: transparent;
}

#header button i{
    color: #14ba01;
}

/* Main */

#main{
    background-image: url(image/mainbg.svg);
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    background-position: top 20% right 0 ;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.5s ease;
}

#main button{
    color: orangered;
    font-size: 1.5rem;
    background-color: #5fe6cd;
    font-weight: 600;
}

#main button:hover{
    background-color: #89ffe9;
}



/* Responsive */

#header #small,
#header #close{
    display: none;
}


.welcome-container{
    position: relative;
    text-align: center;
    color: white;
}

.welcometext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.calorie-container{
    position: relative;
    text-align: center;
    color: white;
}

.calorie-text{
    position: absolute;
    top: 15%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.food-calorie-container{
    position: relative;
    text-align: center;
    color: white;
}

.food-calorie-text{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.bmi-container{
    position: relative;
    text-align: center;
    color: white;
}

.bmi-text{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.calorie-arrow{
    color: whitesmoke;
    font-size: 100px;
    position: absolute;
    right: 80px;
    top: 10%;
}

.food-arrow{
    color: whitesmoke;
    font-size: 100px;
    position: absolute;
    right: 80px;
    top: 40%;
}

.bmi-arrow{
    color: whitesmoke;
    font-size: 100px;
    position: absolute;
    right: 80px;
    top: 40%;
}

.foodD-container{
    position: relative;
    text-align: center;
    color: white;
}

.foodD-text{
    position: absolute;
    top: 15%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.foodD-arrow{
    color: whitesmoke;
    font-size: 100px;
    position: absolute;
    right: 80px;
    top: 12%;
}

.AdminBMI-container{
    position: relative;
    text-align: center;
    color: white;
}

.AdminBMI-text{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.AdminBMI-arrow{
    color: whitesmoke;
    font-size: 100px;
    position: absolute;
    right: 80px;
    top: 40%;
}

.AdminUser-container{
    position: relative;
    text-align: center;
    color: white;
}

.AdminUser-text{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.AdminUser-arrow{
    color: whitesmoke;
    font-size: 100px;
    position: absolute;
    right: 80px;
    top: 40%;
}

.titlebruh{
    position: absolute;
    right: 80px;
    top: 40%;
}

.search{
    align-content: center;
    width: 300px;
    padding-left: 50%;
    font-weight: 600;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(	https://www.w3schools.com/css/searchicon.png);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
.search:focus{
    width: 1000px;
}
.searchbtn{
    width: 120px;
    height: 30px;
    font-size: 16px;
    align-content: center;
    border: none;
    font-weight: 600;
    border-radius: 12px;
    border: 2px solid #4e4e4e;
}

.search-container{
    padding-left: 20%;
}

.search-container2{
    padding-left: 33%;
}